<div class="container">

  <div class="input-group mb-3">
    <input type="text" [(ngModel)]="searchText"  placeholder="Search by name Course Or Description or Professeur" class="form-control mb-3" (input)="filterCours()">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="filterCours()"><i class="fa fa-search"></i></button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Professeur</th>
            <th scope="col" *ngIf="authService.isAdmin()">Actions</th>
          </tr>
        </thead>
        <tbody>

          <ng-container *ngFor="let cour of cours">
            <tr *ngIf="matchesSearchCriteria(cour)">
              <th>{{cour?.name}}</th>
              <td>{{cour?.description}}</td>
              <td>{{cour?.professeur}}</td>
              <td>
                <button type="button" *ngIf="authService.isAdmin()"(click)="editCours(cour)" class="btn btn-primary"><i class="far fa-eye"></i></button>
                <button type="button" *ngIf="authService.isAdmin()" (click)="onDeleteCours(cour.id, cour.name, cour.professeur)" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>