



<div class="wrapper"  >
    <!-- Sidebar  -->
    <nav id="sidebar"  *ngIf="authService.loggedUser">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>
  
        <ul class="list-unstyled components">
            <p>Home</p>
            <!-- <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
               
            </li> -->
        
            <!-- <li class="nav-item">
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#pageSubmenu" aria-expanded="false" class="nav-link dropdown-toggle">Gestion des Professeurs</a>
                 <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li class="nav-item">
                        <a routerLink="/professeur" class="nav-link text-reset">List Of Professeur</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/professeur" class="nav-link text-reset">Professeur</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/addprofesseur" class="nav-link text-reset">Add Professeur</a>
                    </li>
                    <li class="list-group-item py-1">
                        <a routerLink="/Student" class="text-reset">Student</a>
                    </li>
                </ul> 
            </li>
            
            
            
            <li> 
                
         
            </li>-->
            <li class="list-group-item py-1">
                <a routerLink="/professeur" class="text-reset">Professeur</a>
              </li>
         
              <li class="list-group-item py-1">
                <a routerLink="/addprofesseur" a *ngIf="authService.isAdmin()"class="text-reset">Add Professeur</a>
              </li>
              <li class="list-group-item py-1">
                <a routerLink="/Student" class="text-reset">Student</a>
              </li>
              <li class="list-group-item py-1">
                <a routerLink="/addStudent" a *ngIf="authService.isAdmin()" class="text-reset">addStudents</a>
              </li>
              <li class="list-group-item py-1">
                <a routerLink="/Cours" class="text-reset">Course</a>
               
              </li>
              <li class="list-group-item py-1">
                <a routerLink="/addCours" a *ngIf="authService.isAdmin()" class="text-reset"> Add Course</a>
              </li>
       
        </ul>
  
        <ul class="list-unstyled CTAs">
            <!-- <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li> -->
        </ul>
    </nav>
  
    <!-- Page Content  -->
    <div id="content">
  
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div  *ngIf="authService.loggedUser"class="container-fluid">
  
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
  
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li> <a class="nav-link">{{authService.loggedUser}}</a></li>
                        <!-- <a *ngIf="!loginService.isloggedIn" class="dropdown-item" routerLink = "login">login</a>
                      
                      <a *ngIf="loginService.isloggedIn" class="dropdown-item" (click) = "onLogout()">logout</a> -->

                        <li class="nav-item active">
                            <a *ngIf="authService.isloggedIn" class="nav-link" (click) ="onLogout()">logout</a>
                        </li>
                        <li class="nav-item">
                            <a *ngIf="!authService.isloggedIn" class="nav-link"  (click) ="onLogout()">logout</a> 
                        </li>
                    
                    </ul>
                </div>
            </div>
        </nav>
  
   
       
        <router-outlet></router-outlet>
    </div>
  </div>










